{% extends 'layout.html' %}
{% block body %}
<form action="/register" method="POST">
<fieldset>
	<legend>Create User</legend>
	<label>First Name</label><input type="text" name="first_name" value="{{ first_name }}"><br />
	<label>Last Name</label><input type="text" name="last_name" value="{{ last_name }}"><br />
	<label>Email</label><input type="text" name="email" value="{{ email }}"><br />
	<label>Password</label><input type="password" name="password"><br />
	<label>Confirm Password</label><input type="password" name="confirm_password"><br />
	<button>Create User</button>
</form>
{% endblock %}