{% extends 'layout.html' %}
{% block body %}
	<form action="/password" method="post">
		<fieldset>
			<legend>Change Password</legend>
			<label>Currrent Password <input type="password" name="current_password" placeholder="Current Password" /></label>
			<label>New Password <input type="password" name="new_password" placeholder="Your password" /></label>
			<label>Confirm Password <input type="password" name="confirm_password" placeholder="Confirm password" /></label>
		</fieldset>
		<button>Change Password</button>
	</form>
{% endblock %}